<h1>My todos</h1>

<div class="alert alert-success" *ngIf="message">{{message}}</div>

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>Target Date</th>
        <th>Is Completed?</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{todo.description}}</td>
        <td>{{todo.targetDate | date }}</td>
        <td>{{todo.done}}</td>
        <td>
          <button class="btn btn-success" (click) = "updateTodo(todo.id)">update</button>
        </td>
        <td>
          <button class="btn btn-danger" (click) = "deleteTodo(todo.id)">delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <button class="btn btn-primary" (click) = "addTodo()">create</button>
  </div>
</div>
