<h1>Todo</h1>

<div class="container">
    <!-- .dirty from ngForm indicates that the form has been edited -->
    <div class="alert alert-warning" *ngIf="todoForm.dirty && todoForm.invalid">Enter valid values</div>
    <div class="alert alert-warning" *ngIf="targetDate.dirty && targetDate.invalid">Enter a date</div>
    <div class="alert alert-warning" *ngIf="description.dirty && description.invalid">Characters must be at least 5 characters long</div>

  <form (ngSubmit) = "!todoForm.invalid && saveTodo()" #todoForm="ngForm">
    <fieldset class="form-group">
      <label>Description</label>
      <input type="text" #discription = "ngModel" class="form-control" [(ngModel)]="todo.description" name="description" required minlength="5">
    </fieldset>

    <fieldset class="form-group">
      <label>Target Date</label>
      <input type="date" #targetDate= "ngModel" 
        class="form-control" [ngModel]="todo.targetDate | date: 'yyyy-MM-dd' "
        (ngModelChange)="todo.targetDate = $event" name="targetDate" required>
    </fieldset>

    <button type="submit" class="btn btn-success">Save</button>
  </form>
</div>
